* {
    margin: 0;
    padding: 0;
    font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN" ,Arial, sans-serif;
    background-color: #f0f0f0;
}

.header {
    background: #fff;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    color: #726659;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.header-nav__link {
    color: #726659;
    text-decoration: none;
}