body,
html {
    margin: 0;
    padding: 0;
    font-family: Georgia, "Hiragino Mincho Pro", "IPA明朝", sans-serif;
    color: #6b5b54;
}

.header {
    background: #fff;
    width: 100%;
}

.header__inner {
    padding: 20px 15px;
    border-bottom: 1px solid #e0dfde;
}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #6b5b54;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.header-right {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

.header-nav__link {
    color: #6b5b54;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
}

.header-nav__form {
    display: inline;
}

.header-nav__link,
.header-nav__form button {
    color: #6b5b54;
    text-decoration: none;
    background: none;
    border: 1px solid #6b5b54;
    /* 線の色を指定 */
    border-radius: 2px;
    /* 角を少し丸める */
    padding: 5px 10px;
    /* ボタンに余白を追加 */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-left: -10px;
}

.header-nav__link:hover,
.header-nav__form button:hover {
    background-color: #6b5b54;
    color: #fff;
}

main {
    min-height: 100vh;
}