* {
    margin: 0;
    padding: 0;
    font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN" ,Arial, sans-serif;
    background-color: #f0f0f0;
}

.header {
    background: #fff;
    width: 100%;
}

.header__inner {
    padding: 20px 15px;
    width: 100%;
}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left {
    flex: 1;
    /* 左端の空白スペース */
}

.header__logo {
    margin: 0 auto;
    color: #726659;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.header-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    /* 右端にボタンを配置 */
}

.header-nav__link {
    color: #726659;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
}

.header-nav__form {
    display: inline;
}