.container {
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.confirm-table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}

.confirm-table th {
    padding: 20px;
    border: 1px solid #fff;
    border-left: 1px solid #6b5b54;
    background-color: #6b5b54;
    color: #fff;
    text-align: left;
    width: 30%;
}

.confirm-table td {
    padding: 20px;
    border: 1px solid #6b5b54;
    background-color: #fff;
    text-align: left;
}

.confirm-table .confirm-table__top {
    border-top: 1px solid #6b5b54;
}

.confirm-table .confirm-table__bottom {
    border-bottom: 1px solid #6b5b54;
}

.buttons {
    margin-top: 20px;
}

.send-button,
.edit-button {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #6b5b54;
    border: none;
    border-radius: 2px;
    transition: opacity 0.3s;
    cursor: pointer;
    color: #fff;
}

.send-button:hover,
.edit-button:hover {
    opacity: 0.8;
}

.form-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    /* ボタン間の間隔を調整 */
    margin-top: 20px;
}