body {
    background-color: #f1ece7;
    margin: 0;
    font-family: Arial, sans-serif;
    /* フォントを指定することで統一感を持たせる */
}

.error {
    color: #ff0000;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.logo-container h1,
.login-container h1 {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 20px;
}

.login-container {
    width: 450px;
    margin: 40px auto;
    padding: 45px 60px;
    background-color: #fff;
    border: 1px solid #e0dfde;
    border-radius: 8px;
    text-align: center;
}

.form-group {
    margin-bottom: 40px;
    text-align: left;
}

.form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 2px;
    background-color: #f8f8f8;
    font-size: 14px;
}

.form-group input::placeholder {
    color: #bbb;
}

.login-button {
    width: 50%;
    padding: 10px;
    background-color: #6b5b54;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: opacity 0.3s;
}

.login-button:hover {
    opacity: 0.8;
}